body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    margin: 12px;
   
    
    font-size: 26px;
    color: black;


}

  #input_container {
    display: flex;
    position: relative;
    margin:0;
    box-sizing: border-box;
    justify-content: center;
  }

  .grid_container {
    width: 350px;
    display: grid;
    grid-gap: 5px;
    padding: 2px;
    box-sizing: border-box;
    margin: 0;
    

  }

  .grid_row {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
    margin: 5px;
    
  }

  .word_cell {
  font-size: 40px;
	border: 1px solid;
	width: 56px;
	height: 51px;
	border-radius: 12px;
  text-align: center;
  }

  #keyboard_container {
    text-align: center;
    margin-top: 5px;
  }

  .keyboard_row {
    display: flex;
    justify-content: center;
  }

  .keyboard_row button {
    background-color:#c5c5c5;
    font-size: 22px;
    height: 32px;
    padding: 5px 0;
    margin: 2.5px;
    display: flex;
    justify-content: center;
    font-family: arial;
    cursor: pointer;
  }

  .word_cell_green {
    background-color: #35a535;
	  color:#fff;
  }

  .word_cell_grey {
    background-color: rgb(163, 147, 147);
	color:#fff;
  }

  .word_cell_gold {
    background-color: #d7bf4a;
	color:#fff;
  }

  .score-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .score-p {
    justify-self: center;
    align-content: center;
    margin: 10px 10px
  }
  .score {
    font-size: 30px;
  }
  .number {
    font-size: 20px;
  }

